.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background: linear-gradient(#250358, #440c66);
    padding: 1.5rem;
    border-radius: 6px;
    box-shadow: 0 2px 20px rgba(234, 78, 240, 0.2);
    width: 350px;
    height: 450px;
    transition: all 0.2s;
    margin-top: 7rem;
}

.card:hover {
    transform: translateY(-2px);
    transition: transform 0.2s;
    box-shadow: 0 2px 30px rgba(234, 78, 240, 0.4);
  }

.card img {
    width: 150px;
}

.card h1 {
    font-size: 1.5rem;
}

.card p {
    font-size: 20px;
    width: 300px;
    height: 175px;
}